{% extends "Hindi/base.html" %}
{% block links %}
{{ block.super }}
<style>
    .uniform-image {
      width: 100%;
      height: 400px;
      object-fit: cover;
      transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
      border: 1.5px solid #3a3a3a; /* Add border to images */
      border-radius: 10px; /* Optional: Rounded corners */
    }

    /* Adjust space around each image container */
    .genie {
      padding: 15px; /* Space around the image */
    }

    /* Hover effect */
    .genie:hover .uniform-image {
      transform: scale(1.05); /* Scale up the image slightly */
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* Enhanced shadow for depth */
    }
    .image-description p {
        text-align: center;
        padding-top: 10px;
        color: #333; /* Example text color, adjust as needed */
        font-size: 1em; /* Example font size, adjust as needed */
        font-weight: bold;
    }
    /* Responsive adjustments */
    @media (max-width: 767px) {
        .genie {
            padding: 10px;
        }
        .uniform-image {
            height: 300px; /* Adjust height for smaller screens */
        }
    }
</style>
{% endblock links %}

{% block body %}
<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
</div>
<h1 style="font-family: 'Poppins',sans-serif;font-weight: bolder;width: 100%; text-align: center;font-size: 3.5em;color: #1f003b;margin-top:150px;margin-bottom: 3rem;">अन्य फोटो गैलरी</h1>
<div class="photo-gallery">
    <div class="container">
        <div class="row photos">
            <!-- प्रत्येक छवि के लिए यह div ब्लॉक दोहराएं -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery1.jpeg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery1.jpeg" alt="Gallery Image">
                </a>
                <div class="image-description">
                  <p>किसान मार्गदर्शन सत्र-२०२२</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery2.jpeg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery2.jpeg" alt="Gallery Image">
                </a>
                <div class="image-description">
                  <p>गणेश जयंती उत्सव - २०२३ निमंत्रण</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery3.jpeg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery3.jpeg" alt="Gallery Image">
                </a>
                <div class="image-description">
                  <p>किसान मार्गदर्शन सत्र-२०२२</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery4.jpeg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery4.jpeg" alt="Gallery Image">
                </a>
                <div class="image-description">
                  <p>भविष्य विकास योजना</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery5.jpeg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery5.jpeg" alt="Gallery Image">
                </a>
                <div class="image-description">
                  <p>गणेश जयंती उत्सव - २०२३ निमंत्रण पत्र</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery6.jpeg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery6.jpeg" alt="Gallery Image">
                </a>
                <div class="image-description">
                  <p>गणेश विसर्जन कार्यक्रम</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery7.jpeg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery7.jpeg" alt="Gallery Image">
                </a>
                <div class="image-description">
                  <p>वायगाव स्कूल में पुस्तकें और स्टेशनरी वितरण</p>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery8.jpg" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery8.jpg" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>मंदिर की जीर्णोद्धार पूजा</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery9.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery9.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>मंदिर की जीर्णोद्धार पूजा</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery10.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery10.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>लेट श्री बाबा महाराज सातारकर कीर्तन कार्यक्रम</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery11.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery11.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>मंदिर ट्रस्टी और लेट श्री. बाबा महाराज सातारकर</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery12.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery12.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>महाराष्ट्र राज्य के पूर्व गार्डियन मंत्री और मंत्री, मा. प्रवीण पोटे मंदिर की यात्रा</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery13.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery13.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>महाराष्ट्र राज्य के पूर्व गार्डियन मंत्री और मंत्री, मा. वसुदताई देशमुख मंदिर की यात्रा</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery14.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery14.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>गणेश उत्सव</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery15.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery15.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>गणेश जयंती उत्सव के दौरान महाप्रसाद</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery16.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery16.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>मंदिर ट्रस्ट द्वारा वृक्षारोपण अभियान (महाराष्ट्र सरकार ४४ करोड़ वृक्षारोपण)</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery17.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery17.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>गणेश जयंती उत्सव - 2024 आमंत्रण पत्र</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 genie">
                <a href="/static/images/othergallery/othergallery18.png" data-lightbox="photos">
                    <img class="img-fluid uniform-image" src="/static/images/othergallery/othergallery18.png" alt="गैलरी छवि">
                </a>
                <div class="image-description">
                    <p>किसान मार्गदर्शन सत्र - 2024 मंदिर ट्रस्ट द्वारा आयोजित</p>
                </div>
            </div>

        </div>
  
  </div>
</div>
{% endblock body %}
