{% extends "Hindi/base.html" %}
{% block links %}
<link rel="stylesheet" href="/static/css/footer.css">
{% endblock links %}
{% block style %}
{{ block.super }}
<style>
    body {
        background-color: rgb(255 157 67 / 40%);
        margin: 0;
        padding: 0;
    }

    .container {
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        margin-bottom: 100px;
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .scrollable-table {
        max-height: 300px;
        overflow-y: auto;
        display: block;
        margin-top: 20px;
    }

    .scrollable-table table {
        width: 100%;
    }

    .scrollable-table th, .scrollable-table td {
        text-align: left;
        padding: 8px;
    }

    .scrollable-table th {
        background-color: #FF2525;
        color: white;
    }

    .scrollable-table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    @media (max-width: 767px) {
        .container {
            padding: 10px;
        }
    }
</style>
{% endblock style %}
{% block body %}
<div class="background-container" style="margin-top: -70px;">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
</div>
<h1 style="font-weight: bolder;margin-top: 40px;">पूजा विवरण</h1>
<div class="container" style="background-color: aliceblue; font-family: 'Poppins', sans-serif;">
    <h3 style="font-weight: bold;">महा अभिषेक पूजा सामग्री</h3>
    <div class="scrollable-table">
        <table class="table">
            <thead>
                <tr>
                    <th>क्रमांक</th>
                    <th>सामग्री</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>कुमकुम</td></tr>
<tr><td>2</td><td>हल्दी</td></tr>
<tr><td>3</td><td>गुलाल</td></tr>
<tr><td>4</td><td>1 नारियल</td></tr>
<tr><td>5</td><td>9 सूखे खजूर (खारिक)</td></tr>
<tr><td>6</td><td>9 बादाम</td></tr>
<tr><td>7</td><td>9 सुपारी</td></tr>
<tr><td>8</td><td>1 इत्र की बोतल</td></tr>
<tr><td>9</td><td>1 सफेद धागा (जानवे जोड़)</td></tr>
<tr><td>10</td><td>24 पान के पत्ते</td></tr>
<tr><td>11</td><td>गुड़-नारियल</td></tr>
<tr><td>12</td><td>1/2 किलो चावल</td></tr>
<tr><td>13</td><td>माला</td></tr>
<tr><td>14</td><td>1/2 लीटर दूध</td></tr>
<tr><td>15</td><td>250 ग्राम दही</td></tr>
<tr><td>16</td><td>50 ग्राम घी</td></tr>
<tr><td>17</td><td>शक्कर और शहद</td></tr>
<tr><td>18</td><td>भगवान की मूर्ति के लिए सोवाले, ऋद्धि-सिद्धि के लिए वस्त्र</td></tr>
<tr><td>19</td><td>दुपट्टा</td></tr>
<tr><td>20</td><td>प्रसाद</td></tr>
<tr><td>21</td><td>धूपबत्ती</td></tr>
<tr><td>22</td><td>कपूर</td></tr>
<tr><td>23</td><td>दूर्वा</td></tr>
<tr><td>24</td><td>फूल</td></tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
