{% extends "Marathi/base.html" %}
{% block links %}
<link rel="stylesheet" href="/static/css/boardmembers.css">
{% endblock links %}
{% block body %}
<div class="background-container">
    <img src="/static/images/common.png" alt="Background Image" class="background-image">
  </div>

  <section>
    <div class="row row-top">
        <h1>ट्रस्टी</h1>
    </div>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee1.jpg" />
                </div>
                <h3>
                    <span id="personcard-mr"  ;>श्री विलास राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Chairman</span> -->
                    <span id="personcard-mr"  ;>मुख्याध्यक्ष</span>
                </p>
            </div>
        </div>






        <!-- Column 3-->


        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee2.png" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Vishweshvar Ingole</span> -->
                    <span id="personcard-mr"  ;>श्री विश्वेश्वर राव इंगोले </span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Vice Chairman</span> -->
                    <span id="personcard-mr"  ;>उपमुख्याध्यक्ष</span>
                </p>
            </div>
        </div>




        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee3.png" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Narendra Ingole</span> -->
                    <span id="personcard-mr"  ;>श्री नरेंद्र राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Treasurer</span> -->
                    <span id="personcard-mr"  ;>कोषाध्यक्ष</span>
                </p>
            </div>
        </div>




        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee4.jpg" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Sandip Ingole</span> -->
                    <span id="personcard-mr"  ;>श्री संदीप राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Secretary</span> -->
                    <span id="personcard-mr"  ;>सचिव</span>
                </p>
            </div>
        </div>



        <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee5.png" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Rameshwar Ingole</span> -->
                    <span id="personcard-mr"  ;>श्री रामेश्वर राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Trustee</span> -->
                    <span id="personcard-mr"  ;>ट्रस्टी</span>
                </p>
            </div>
        </div>


       <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee6.jpg" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Santosh Ingole</span> -->
                    <span id="personcard-mr"  ;>श्री संतोष राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Trustee</span> -->
                    <span id="personcard-mr"  ;>ट्रस्टी</span>
                </p>
            </div>
        </div>



       <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee7.png" />
                </div>
                <h3>
                    <span id="personcard-mr"  ;>श्री अजय राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <span id="personcard-mr"  ;>ट्रस्टी</span>
                </p>
            </div>
        </div>



      <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee8.png" />
                </div>
                <h3>
                    <span id="personcard-mr"  ;>श्री रंजित राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <span id="personcard-mr"  ;>ट्रस्टी</span>
                </p>
            </div>
        </div>




       <div class="column">
            <div class="card">
                <div class="img-container">
                    <img src="/static/images/trustees/trustee9.jpeg" />
                </div>
                <h3>
                    <!-- <span id="personcard-en">Gokul Ingole</span> -->
                    <span id="personcard-mr"  >श्री गोकुल राव इंगोले</span>
                </h3>
                <hr>
                <p>
                    <!-- <span id="personcard-en">Trustee</span> -->
                    <span id="personcard-mr"  ;>ट्रस्टी</span>
                </p>
            </div>
        </div>


    </div>


</section>
{% endblock body %}
